@model IEnumerable<eCommerceUI.Models.CityMV>
@{
    ViewBag.Title = "List";
}
<div class="container">
    <div class="page-width">
        <h3 class="docs-title">Cities List</h3>
        <p>
            @Html.ActionLink("New City", "NewCity", null, new { @class = "btn btn--secondary" })
        </p>
        <div class="table-wrap">
            <table class="responsive-table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.CityID)</th>
                        <th>@Html.DisplayNameFor(model => model.CountryName)</th>
                        <th>@Html.DisplayNameFor(model => model.CityName)</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="responsive-table-row">
                            <td>#@Html.DisplayFor(modelItem => item.CityID)</td>
                            <td>@Html.DisplayFor(modelItem => item.CountryName)</td>
                            <td>@Html.DisplayFor(modelItem => item.CityName)</td>
                            <td>
                                @Html.ActionLink("Edit", "EditCity", new { id = item.CityID }, new { @class = "btn" })
                            </td>
                        </tr>
                    }
                <tbody>
            </table>
        </div>
    </div>
</div>